<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482338448614-qv5sprkev4ksjmmt0pl9itgjq85h5bdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482338448614-qv5sprkev4ksjmmt0pl9itgjq85h5bdo</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLfOsu7Jcx-rpz2mF5sjNMa4LGuo8JvM</string>
	<key>GCM_SENDER_ID</key>
	<string>482338448614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.FirePerfect</string>
	<key>PROJECT_ID</key>
	<string>fireperfect-9d47e</string>
	<key>STORAGE_BUCKET</key>
	<string>fireperfect-9d47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482338448614:ios:fcd6b510984a24a6e2c727</string>
</dict>
</plist>